@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 transition-colors duration-300;
  }
  
  .dark body {
    @apply bg-[#0A0A0A] text-white;
  }
}

/* Custom styles */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* Styled Scrollbars */
.styled-scrollbar::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
.styled-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}
.styled-scrollbar::-webkit-scrollbar-thumb {
  background: #f97316;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
.dark .styled-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f97316;
}
.styled-scrollbar-top {
  transform: rotateX(180deg);
}
.styled-scrollbar-top > * {
  transform: rotateX(180deg);
}
